* {
  margin: 0;
  padding: 0;
}
.wrap {
  width: 800px;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
}
input {
  border: none;
  border-bottom: solid 1px grey;
  outline: none;
  text-align: center;
  &.w20 {
    width: 80px;
  }
}
table {
  border-collapse: collapse;
}
td {
  line-height: 2;
}
.duty {
  line-height: 2;
}
.tanta {
  border: none;
}
.gmyh {
  border-left: solid 1px grey;
  border-right: solid 1px grey;
}