* {
  margin: 0;
  padding: 0;
}
.wrap {
  width: 900px;
  margin: 0 auto;
}
.wrap h1 {
  text-align: center;
  font-size: 28px;
}
input[type="text"] {
  border: none;
  border-bottom: solid 1px grey;
  outline: none;
  text-align: center;
  width: 200px;
}
input[type="text"].w20 {
  width: 60px;
}
input[type="checkbox"] {
  vertical-align: -2px;
}
table {
  border-collapse: collapse;
}
table tr td {
  font-size: 14px;
  padding: 0 10px;
}
td {
  line-height: 2;
}
.duty {
  line-height: 2;
}
.tanta {
  border: none;
}
.gmyh {
  border-left: solid 1px grey;
  border-right: solid 1px grey;
}
