* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
}
body {
  background-color: #eeeeee;
  width: 100%;
}
@media screen and (min-width: 1300px) {
  .wrap {
    margin: 28px auto;
    width: 1200px;
    padding: 30px;
  }
  .wrap section .address1 p {
    float: left;
  }
  .wrap section .address1 p:last-of-type {
    margin-left: 335px;
  }
  .wrap section .photo ul li {
    width: 24%;
  }
  .wrap section .photo ul li:nth-of-type(4n + 1) {
    margin-left: 0;
  }
  .wrap section .photo ul li img {
    width: 100%;
  }
  .wrap .shareBtn {
    top: 30px;
    right: 30px;
  }
}
@media screen and (max-width: 1300px) and (min-width: 750px) {
  .wrap {
    margin: 28px auto;
    width: 640px;
    padding: 30px;
  }
  .wrap section .address1 p {
    float: left;
  }
  .wrap section .address1 p:last-of-type {
    float: right;
  }
  .wrap section .photo ul li {
    width: 32%;
  }
  .wrap section .photo ul li:nth-of-type(3n + 1) {
    margin-left: 0;
  }
  .wrap section .photo ul li img {
    width: 100%;
  }
  .shareBtn {
    top: 30px;
    right: 30px;
  }
}
@media screen and (max-width: 750px) {
  .wrap {
    margin: 0 auto;
    width: 96%;
    padding: 2%;
  }
  .wrap section .photo ul li {
    width: 49%;
  }
  .wrap section .photo ul li:nth-of-type(2n + 1) {
    margin-left: 0;
  }
  .wrap section .photo ul li img {
    width: 100%;
  }
  .shareBtn {
    top: 30px;
    right: 30px;
  }
}
.wrap {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}
.wrap header {
  border-bottom: solid 1px #eeeeee;
}
.wrap header span {
  display: inline-block;
  width: 5px;
  height: 17px;
  background-color: #3398ff;
  vertical-align: -1px;
  border-radius: 3px;
}
.wrap header h2 {
  display: inline-block;
  font-size: 18px;
  color: #333333;
  font-weight: 700;
  line-height: 20px;
}
.wrap header p {
  font-size: 16px;
  color: #999999;
  font-weight: 500;
  padding: 13px 0 30px 10px;
}
.wrap section div {
  padding: 15px 0;
}
.wrap section p {
  line-height: 39px;
}
.wrap section p span .lve {
  color: red;
}
.wrap section p span:first-of-type {
  color: #333333;
  font-size: 14px;
}
.wrap section p span:last-of-type {
  font-size: 14px;
  color: #666666;
}
.wrap section .address {
  border-bottom: solid 1px #eeeeee;
}
.wrap section .address .address1 {
  padding: 0;
  line-height: 39px;
  overflow: hidden;
}
.wrap section .reason {
  border-bottom: solid 1px #eeeeee;
}
.wrap section .details {
  border-bottom: solid 1px #eeeeee;
}
.wrap section .photo {
  border-bottom: solid 1px #eeeeee;
  padding-bottom: 30px;
}
.wrap section .photo p {
  padding: 0 0 15px 0;
  color: #333333;
  font-size: 14px;
}
.wrap section .photo ul {
  overflow: hidden;
}
.wrap section .photo ul li {
  float: left;
  margin-left: 1%;
  margin-top: 10px;
  list-style: none;
  border-radius: 5px;
  overflow: hidden;
}
.wrap section .photo ul li:first-of-type {
  margin-left: 0;
}
.wrap section .photo ul li img {
  width: 100%;
}
.wrap footer {
  overflow: hidden;
}
.wrap footer p {
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  line-height: 73px;
}
.wrap footer .qrCode {
  float: left;
}
.wrap footer .qrCode div {
  width: 145px;
  height: 145px;
  margin-right: 30px;
}
.wrap footer .qrCode div canvas {
  width: 100%;
  height: 100%;
}
.wrap footer .qrCode p {
  font-size: 14px;
  color: #666666;
  line-height: 46px;
}
.wrap .shareBtn {
  position: absolute;
  width: 81px;
  height: 32px;
  background: #50bbfb;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #ffffff;
}
.mask-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.mask-wrap .qrcode {
  display: none;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 754px;
  height: 121px;
  background-color: #ffffff;
  box-shadow: 5px 5px 15px rgba(51, 51, 51, 0.3);
  border-radius: 5px;
  padding: 30px;
}
.mask-wrap .qrcode h3 {
  font-size: 24px;
  color: #333333;
  font-weight: bold;
  font-family: "PingFang-SC-Bold";
}
.mask-wrap .qrcode .closegray {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 6px;
  background: url("/img/closegray.png") no-repeat;
}
.mask-wrap .qrcode .qrcode-center {
  padding: 15px 0 15px 0;
  font-size: 0;
}
.mask-wrap .qrcode .qrcode-center span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 563px;
  height: 42px;
  border: solid 1px #d3d3d3;
  line-height: 42px;
  text-indent: 14px;
  font-size: 16px;
  color: #333333;
  font-weight: 500;
  border-radius: 5px;
  user-select: text;
}
.mask-wrap .qrcode .qrcode-center input {
  color: #ffffff;
  width: 76px;
  height: 42px;
  background-color: #50bbfb;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin-left: 15px;
  outline: none;
  vertical-align: 15px;
}
.mask-wrap .qrcode .qrcode-center input:nth-of-type(2) {
  background-color: #f45d2e;
}
.mask-wrap .qrcode p {
  color: #999999;
  font-size: 12px;
  margin-top: -10px;
}
.mask-copy {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 30;
  background: rgba(0, 0, 0, 0.5);
}
.mask-copy .mask-inner-copy {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 100px;
  background: #ffffff;
  z-index: 40;
  border-radius: 5px;
  padding: 30px;
}
.mask-copy .mask-inner-copy p {
  overflow: hidden;
}
.mask-copy .mask-inner-copy p:first-of-type {
  font-size: 18px;
}
.mask-copy .mask-inner-copy p:nth-of-type(2) {
  font-size: 14px;
  line-height: 40px;
}
.mask-copy .mask-inner-copy p:last-of-type input {
  float: right;
  color: #ffffff;
  width: 76px;
  height: 42px;
  background-color: #50bbfb;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin-left: 15px;
  outline: none;
  vertical-align: 15px;
}
