<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>shareMobile</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="/js/config.js"></script>
    <link href="https://cdn.bootcss.com/Swiper/4.3.0/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/view/css/shareMobile.css">
    <script>

        function browserRedirect() {
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
            if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
                // 移动
            } else {
                // PC
                location.href = share + '?uiid=' + getRequest().uiid
            }
        }
        browserRedirect()
    </script>
</head>

<body>
    <div class="wrap">
        <header>
            <span></span>
            <h2>珠光创新科技西南门路面坍塌</h2>
            <p>编号（201808-299）</p>
        </header>
        <section>
            <div class="address">
                <div class="address1">
                    <p>
                        <span>地址：</span>
                        <span>深圳市南山区珠光创新科技园西南门</span>
                    </p>
                    <p>
                        <span>隶属：</span>
                        <span>南山区西丽街道办</span>
                    </p>
                </div>
                <p>
                    <span>上报时间：</span>
                    <span>2018年8月23日10点59分30秒</span>
                </p>
                <p>
                    <span>灾情描述：</span>
                    <span>西南门的路中间发生一处长1.2米，宽1.1米，深30公分的地坑，暂无人员伤亡。</span>
                </p>
            </div>
            <div class="details">
                <p>
                    <span>坍塌规模：</span>
                    <span>长2.8米，宽30米，深100公分，面积约88平方米。</span>
                </p>
                <p>
                    <span>坍塌危害：</span>
                    <span>财务损失100万元，人员伤亡5人，死亡0人。</span>
                </p>
                <p>
                    <span>灾情等级：</span>
                    <span>一般（<a class="lve">Ⅳ级</a>）</span>
                </p>
            </div>
            <div class="reason">
                <p>
                    <span>引发因素：</span>
                    <span>排水管道</span>
                </p>
                <p>
                    <span>坍塌原因：</span>
                    <span>排水管道破损导致，由街道办组织施工队抢修排水管道。</span>
                </p>
                <p>
                    <span>应急处理：</span>
                    <span>警戒围挡</span>
                </p>
            </div>
            <div class="photo">
                <p>现场图片：</p>
                <div class="swiper-container">
                    <div id="swiperId" class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/img/png.png" alt=""></div>
                        <div class="swiper-slide"><img src="/img/png.png" alt=""></div>
                        <div class="swiper-slide"><img src="/img/png.png" alt=""></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="photo">
                <p>现场视频：</p>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/img/png.png" alt=""></div>
                        <div class="swiper-slide"><img src="/img/png.png" alt=""></div>
                        <div class="swiper-slide"><img src="/img/png.png" alt=""></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>
        <footer>
            <p>了解更多灾情及灾情报料请下载扫描如下二维码</p>
            <div class="qrCode">
                <div id="downloadApp"></div>
                <p>扫码下载APP了解更多</p>
            </div>
            <div class="qrCode">
                <div id="PublicNumber"></div>
                <p>扫一扫关注微信公众号</p>
            </div>
        </footer>
    </div>

    <script src="/js/jquery.qrcode.min.js"></script>
    <script src="https://cdn.bootcss.com/Swiper/4.3.0/js/swiper.min.js"></script>
    <script src="/view/js/shareMobile.js"></script>
    <script>

    </script>
</body>

</html>